.arrow.arrow {
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.week1.week1 {
  left: 1.6502%;
  right: 1.6502%;
  top: 32.3651%;
  bottom: 54.3568%;
  width: initial;
  height: initial;
}
.calendarDay.calendarDay {
  left: 0;
  right: 86.0068%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.day {
  color: #6c7470;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.calendarDay2.calendarDay2 {
  left: 14.3345%;
  right: 71.6724%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.day2 {
  color: #6c7470;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.calendarDay3.calendarDay3 {
  left: 28.6689%;
  right: 57.3379%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.day3 {
  color: #6c7470;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day4 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day5 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day6 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day7 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.week2.week2 {
  left: 1.6502%;
  right: 1.6502%;
  top: 46.0581%;
  bottom: 40.6639%;
  width: initial;
  height: initial;
}
.day8 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day9 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day10 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day11 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day12 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day13 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day14 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.week3.week3 {
  left: 1.6502%;
  right: 1.6502%;
  top: 59.751%;
  bottom: 26.971%;
  width: initial;
  height: initial;
}
.day15 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day16 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day17 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day18 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day19 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day20 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day21 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.week4.week4 {
  left: 1.6502%;
  right: 1.6502%;
  top: 73.444%;
  bottom: 13.278%;
  width: initial;
  height: initial;
}
.day22 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day23 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day24 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day25 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day26 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day27 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.day28 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.week5.week5 {
  left: 1.6502%;
  right: 1.6502%;
  top: 86.722%;
  bottom: 0;
  width: initial;
  height: initial;
}
.calendarDay4.calendarDay4 {
  left: 86.0068%;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.day29 {
  color: #6c7470;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.root {
  position: absolute;
  left: 73px;
  top: 152px;
  width: 303px;
  height: 241px;
  align-items: flex-start;
}
.month {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 90.0415%;
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 80px;
}
.march2022 {
  color: #0a1811;
  font-size: 16px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.weekdays {
  position: absolute;
  left: 2.6403%;
  right: 2.6403%;
  top: 18.2573%;
  bottom: 75.9336%;
  align-items: flex-start;
}
.sUN {
  color: #7b827e;
  font-size: 12px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 41px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.mON {
  color: #7b827e;
  font-size: 12px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 41px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.tUE {
  color: #7b827e;
  font-size: 12px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 41px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.wED {
  color: #7b827e;
  font-size: 12px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 41px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.tHU {
  color: #7b827e;
  font-size: 12px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 41px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.fRI {
  color: #7b827e;
  font-size: 12px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 41px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.sAT {
  color: #7b827e;
  font-size: 12px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 41px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
