.calendarDay.calendarDay {
  left: 0;
  right: 86.0068%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.day {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.calendarDay2.calendarDay2 {
  left: 14.3345%;
  right: 71.6724%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.day2 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.calendarDay3.calendarDay3 {
  left: 28.6689%;
  right: 57.3379%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.calendarDay4.calendarDay4 {
  left: 43.0034%;
  right: 43.0034%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.day3 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.calendarDay5.calendarDay5 {
  left: 57.3379%;
  right: 28.6689%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.day4 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.calendarDay6.calendarDay6 {
  left: 71.6724%;
  right: 14.3345%;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.day5 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.calendarDay7.calendarDay7 {
  left: 86.0068%;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.day6 {
  color: #0a1811;
  font-size: 14px;
  line-height: 120%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 41px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 293px;
  height: 32px;
  align-items: flex-start;
}
